@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* html */
html {
    scroll-behavior: smooth;
}
/* body */
body {
    font-family: "Roboto", source-sans-pro;
    font-style: normal;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(245, 245, 245);
}
div {
    text-align: center;
    margin: 0 auto;
}
.top {
    font-family: "Roboto", source-sans-pro;
    font-style: light;
    font-size: 4rem;
    text-align: center;
    border-bottom: 5px solid #2C9AB7;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: #313131;
    color: white;
}
/* link stuff */
a:link {
    color: #2C9AB7;
    background-color: transparent;
}
a:visited {
    color: rgba(212, 78, 51, 35);
    background-color: transparent;
}
a:hover {
    color: limegreen;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    text-decoration: underline;
}
b {
    font-family: 'Koulen', cursive;
    text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        0.05em 0 0 rgba(0,255,0,.75),
        0.05em 0 0 rgba(0,0,255,.75),
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
.copyright {
    font-size: medium;
	background-color: #313131;
	color: #FFFFFF;
    letter-spacing: 2px;
	border-top-width: 2px;
    padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
