@charset "UTF-8";
@import url("https: //fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* html */
html {
    scroll-behavior: smooth;
}
/* body */
body {
    font-family: "Roboto", source-sans-pro;
    font-style: normal;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(245, 245, 245);
}
div {
    text-align: center;
    margin: 0 auto;
}
header {
    font-family: "Roboto", source-sans-pro;
    font-style: light;
    font-size: 4rem;
    text-align: center;
    border-bottom: 5px solid #2C9AB7;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: #313131;
    color: white;
}
/* link stuff */
a:link {
    color: #2C9AB7;
    background-color: transparent;
}
a:visited {
    color: rgba(212, 78, 51, 35);
    background-color: transparent;
}
a:hover {
    color: limegreen;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    text-decoration: underline;
}
.AboutUs {
    text-align: center;
}
/* button stuff */
.bg-1 {
    background: #ECEFF1;
    color: #37474f;
}

.bg-2 {
    background: #7986cb;
    color: #ECEFF1;
}

.bg-3 {
    background: #37474f;
    color: #fff;
}
.buttondiv {
    width: 175px;
}
/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}

.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}

.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}

.button--size-m {
    font-size: 16px;
}

.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button--text-thin {
    font-weight: 300;
}

.button--text-medium {
    font-weight: 500;
}

.button--text-thick {
    font-weight: 600;
}

.button--round-s {
    border-radius: 5px;
}

.button--round-m {
    border-radius: 15px;
}

.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}

.button--border-medium {
    border: 2px solid;
}

.button--border-thick {
    border: 3px solid;
}
.button.button {
    background: rgb(41, 41, 41);
    color: #ffffff;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button.button--inverted {
    background: none;
    color: #fff;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button::before {
    background: #2C9AB7;
}

.button::after {
    background: #267d96;
}

.button:hover {
    color: #fff;
}

.button:hover::before,
.button:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}
b {
    font-family: 'Koulen', cursive;
    text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        0.05em 0 0 rgba(0,255,0,.75),
        0.05em 0 0 rgba(0,0,255,.75),
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
#applytext {
    font-family: 'Roboto', sans-serif;
}
.copyright {
    font-size: medium;
	background-color: #313131;
	color: #FFFFFF;
    letter-spacing: 2px;
	border-top-width: 2px;
    padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
